<!-- Modal Edit topic-->
<div
  class="modal fade"
  id="topicModalEdit"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Edit topic</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/study/topic/edit" method="post">
          <div class="input-group">
            <input type="hidden" name="topicId" value="{{ topicTitle.id }}" />
            <input
              class="form-control mb-3"
              autocomplete="off"
              name="topicEdit"
              id="topicEdit"
              placeholder="Food, animals, books, ets..."
              value="{{topicTitle.topic}}"
            />
          </div>
          <button type="submit" class="btn btn-primary form-control">
            Edit
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
