<!-- Modal Edit phrase-->
<div
  class="modal fade"
  id="vocabModalEditPhrase"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Edit phrase</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/study/phrase/edit" method="post">
          <div class="form-group">
            <input type="hidden" id="phraseId" name="phraseId" />
            <input type="hidden" name="topicId" value="{{ topicTitle.id}}" />
            <label for="phraseOrigin">Origin phrase: </label>
            <input
              class="form-control mb-3"
              autocomplete="off"
              name="phraseOrigin"
              id="phraseOrigin"
              placeholder="Apple is mine!"
            />
            <label for="phraseTranslate">Translate phrase: </label>
            <input
              class="form-control mb-3"
              autocomplete="off"
              name="phraseTranslate"
              id="phraseTranslate"
              placeholder="Яблоко мойо"
            />
          </div>
          <div class="row justify-content-around">
            <button type="submit" class="btn btn-danger form-control col-5">
              Edit
            </button>
            <button
              class="btn btn-secondary form-control col-5"
              data-dismiss="modal"
              aria-label="Close"
            >
              Cancel
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
