<!-- Modal Add word to vocab-->
<div
  class="modal fade"
  id="vocabModalAddWord"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add word</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/study/word/add" method="post">
          <input type="hidden" name="topicId" value="{{ topicTitle.id }}" />
          <div class="form-group">
            <label for="wordOrigin">Origin word</label>
            <input
              class="form-control mb-3"
              autocomplete="off"
              name="wordOrigin"
              id="wordOrigin"
              placeholder="Apple, cat, books, ets..."
            />
          </div>
          <div class="form-group">
            <label for="wordTranslate">Translate word</label>
            <input
              class="form-control mb-3"
              autocomplete="off"
              name="wordTranslate"
              id="wordTranslate"
              placeholder="Яблоко, кот, книги ..."
            />
          </div>
          <button type="submit" class="btn btn-primary form-control">
            Add
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
