{% extends "layout.html" %} {% block title %} Login {% endblock %} {% block main
%}
<!-- Admin -->
<div class="row justify-content-center mb-3">
  <h3>Admin panel</h3>
</div>

<div id="admin_container">
  <div class="row">
    <div class="col-3">
      <div class="list-group" id="catrgoryList" role="tablist">
        <a
          class="list-group-item list-group-item-action active"
          id="newsList"
          data-toggle="list"
          href="#list-news"
          role="tab"
          aria-controls="list-news"
          >News</a
        >
        <a
          class="list-group-item list-group-item-action"
          id="public"
          data-toggle="list"
          href="#publicList"
          role="tab"
          aria-controls="listPublic"
          >All users</a
        >
      </div>
    </div>
    <!-- CONTENT -->
    <div class="col-9">
      <div class="tab-content" id="adminContent">
        <div
          class="tab-pane fade show active"
          id="list-news"
          role="tabpanel"
          aria-labelledby="newsList"
        >
          <div class="row mb-3 justify-content-end">
            <button
              type="button"
              class="btn btn-info"
              data-toggle="modal"
              data-target="#newsModalAdd"
            >
              Add news
            </button>
          </div>

          {%for news in newsList%}
          <div class="row mb-2">
            <div class="col-10">{{news.title}}</div>
            <div class="col-2">
              <div class="d-flex justify-content-end">
                <button
                  type="button"
                  name="btnNewsDelete"
                  class="btn btn-danger"
                  data-toggle="modal"
                  data-target="#newsDelete"
                  value="{{news.id}}"
                >
                  delete
                </button>
              </div>
            </div>
          </div>
          {%endfor%}
        </div>
        <!-- All users list -->
          <div
            class="tab-pane fade"
            id="publicList"
            role="tabpanel"
            aria-labelledby="public"
          >
          <div class="row mb-3">
            <div class="col-6"><h4>Name</h4></div>
            <div class="col-6"><h4>Email</h4></div>
          </div>
            {%for user in usersList%}
              <div class="row">
                <div class="col-6">
                  <h5>{{user.name}}</h5>
                </div>
                <div class="col-6">
                  <h5>{{user.email}}</h5>
                </div>
              </div>
            {%endfor%}
          </div>
          <nav class="row justify-content-center mt-3 mb-5 fixed-bottom" aria-label="topic_pagination">
            <ul class="pagination">
              <li class="page-item disabled">
                <span class="page-link">Previous</span>
              </li>
              <li class="page-item active"><a class="page-link" href="#">1</a></li>
              <li class="page-item">
                <span class="page-link"> 2 </span>
              </li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#">Next</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>

<!-- Include JS -->
<script src="/static/js/news_delete.js" charset="utf-8"></script>
  {% include '_news_add.html'%} {% include '_news_delete.html'%} {% endblock %}
</div>
