{% extends "layout.html" %} {% block title %} Login {% endblock %} {% block main
%}
<meta id="userStat" data-stats="{{userStat}}" />
<!-- Topic block -->
<div class="row justify-content-center" id="topickBlock">
  <div class="col-6"><h3>{{ topicTitle.topic}}</h3></div>
  <div class="col-6">
    <div class="d-flex justify-content-end">
      <button
        type="button"
        class="btn btn-info"
        data-toggle="modal"
        data-target="#topicModalEdit"
      >
        Edit
      </button>
      <div class="d-flex justify-content-end">
        <button
          type="button"
          class="btn btn-danger ml-3"
          data-toggle="modal"
          data-target="#topicModalDelete"
        >
          Drop
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Buttopn block -->
<div class="row justify-content-around mt-4" id="buttonBlock">
  <div class="col-4 d-flex justify-content-center">
    <button
      type="button"
      class="btn btn-primary"
      data-toggle="modal"
      data-target="#vocabModalAddWord"
    >
      New word
    </button>
  </div>
  <div class="col-4 d-flex justify-content-center">
    <button
      type="button"
      class="btn btn-primary"
      data-toggle="modal"
      data-target="#vocabModalAddPhrase"
    >
      New Phrase
    </button>
  </div>
  <div class="col-4 d-flex justify-content-center">
    <form action="/study/startQuiz" method="POST">
      <input type="hidden" value="{{topicTitle.id}}" name="topicId" />
      <button type="submit" class="btn btn-primary">Quiz</button>
    </form>
  </div>
</div>

<!-- Statistics block -->
<div class="row justify-content-center mt-4" id="statisticsBlock">
  <h4 class="col-6 text-center">Word and Phrases in topic</h4>
  <h4 class="col-6 text-center">Successfuly pased quiz and attempts</h4>
  <div class="col-6 text-center">
    <canvas id="myChart" width="150" height="50"></canvas>
  </div>
  <div class="col-6 text-center">
    <canvas id="myChartRound" width="150" height="50"></canvas>
  </div>
</div>

<!-- Recently added block -->
<div class="row justify-content-center inline-block mt-4" id="recentlyBlock">
  <div class="row justify-content-center">
    <div class="col-12 mb-3">
      <h3>Recently added</h3>
    </div>
  </div>

  <div class="word-block col-12">
    <ul class="nav nav-tabs" id="wordTab" role="tablist">
      <li class="nav-item col-6" role="presentation">
        <a
          class="nav-link active"
          id="word-tab"
          data-toggle="tab"
          href="#words"
          role="tab"
          aria-controls="words"
          aria-selected="true"
          >My Words</a
        >
      </li>
      <li class="nav-item col-6" role="presentation">
        <a
          class="nav-link"
          id="phrases-tab"
          data-toggle="tab"
          href="#phrases"
          role="tab"
          aria-controls="phrases"
          aria-selected="false"
          >My Phrases</a
        >
      </li>
    </ul>
    <div class="tab-content" id="vocabsTabContent">
      {% include '_tableForWordAndPhrases.html'%}
    </div>
  </div>
</div>

<!-- Include JS -->
<script src="/static/js/word_edit.js" charset="utf-8"></script>
<script src="/static/js/word_delete.js" charset="utf-8"></script>
<script src="/static/js/phrase_edit.js" charset="utf-8"></script>
<script src="/static/js/phrase_delete.js" charset="utf-8"></script>
<script src="/static/js/topic_statistics.js" charset="utf-8"></script>
<!-- Include Modals -->
{% include '_topic_edit.html'%} {% include '_topic_delete.html'%} {% include
'_vocab_add_word.html'%} {% include '_vocab_edit_word.html'%} {% include
'_vocab_delete_word.html' %} {% include '_vocab_add_phrase.html'%} {% include
'_vocab_edit_phrase.html'%} {% include '_vocab_delete_phrase.html'%}{% endblock
%}
