{% extends "layout.html" %} {% block title %} Login {% endblock %} {% block main
%}
<div>
  <div class="row justify-content-center">
    <div class="col-6">
      <h3>Personal topics:</h3>
    </div>
    <div class="col-6">
      <div class="d-flex justify-content-end">
        <!-- Button trigger modal -->
        <button
          type="button"
          class="btn btn-primary"
          data-toggle="modal"
          data-target="#exampleModalCenter"
        >
          Add new
        </button>
      </div>
    </div>
  </div>
</div>
<div></div>
<div class="list-group">
  {% for topic in userTopics %}
  <a href="/study/{{topic.id}}" class="list-group-item list-group-item-action">
    {{ topic.topic}}
  </a>
  {% endfor %}
</div>
<!-- TODO Topic pagination HTML integrity-->
<nav class="row justify-content-center mt-3" aria-label="topic_pagination">
  <ul class="pagination">
    <li class="page-item disabled">
      <span class="page-link">Previous</span>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item active">
      <span class="page-link">
        2
        <span class="sr-only">(current)</span>
      </span>
    </li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>
<hr />
<h3>Public topics:</h3>

<!-- Include Modal for add topics button-->
{% include '_topic_search.html'%}

<script src="/static/js/topic_search.js" charset="utf-8"></script>
{% endblock %}
